/*   -- you can use for free witch --
    https://flavioow.github.io/DevImports/Styles/CSS/reset.css
*/

*, *::after, *::before {
	content: "";
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
	font-size: 100%;
	line-height: 1;
}

h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
